body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serifs;
}

#header,
#addTask {
  text-align: center;
}

.header-header-text {
  font-size: 60px;
  padding: 35px 0px 10px 0;
  color: #515052;
}

.header-text {
  font-size: 18px;
  padding-bottom: 50px;
  color: #515052;
  font-style: italic;
  opacity: 0.7;
}

.task-description {
  height: 35px;
  width: 500px;
  font-size: 15px;
  padding-left: 10px;
  margin-bottom: 30px;
}

::placeholder {
  opacity: 0.6;
}

#button-plus {
  font-size: 15px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #a6d99e;
  color: #fff;
}

#clock-container {
  height: 300px;
  width: 550px;
  background-color: #f7f0ea;
  margin: auto;
  border-radius: 0.5em;
}

#clock-header {
  height: 40px;
}

#clock-reset {
  font-size: 30px;
  float: right;
  margin: 15px;
}
